<html ng-app="myApp">
<head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>body { font-size: 1.3em; }</style>
  <title>Test</title>
</head>
<body>
  <h1>Test</h1>
  <div ng-controller="MyController">
    <div>
      Your name:
      {{name | replace : "T": "F"}} <br />
      <input type="text" ng-model="name"
      ng-blur="upper();"/>
      <br />
      Cost: {{cost | currency}}
      <br />
      <button ng-click="checkClick();">Log # of Watchers</button><br />
      Watchers: {{$$watchersCount}}<br />
      Counter: {{counter}}<br />
      One Time: {{::oneTime}}<br />
      Two Time: {{oneTime}}<br />

      <button ng-click="upCounter();">Up Counter</button>
    </div>
  </div>
</body>
