<html ng-app="myApp">
<head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>body { font-size: 1.3em; }</style>
  <title>Test</title>
</head>
<body>
  <div ng-controller="MyController">
    <div>
      New Item:
      <input type="text" ng-model="newItemNumber" placeholder="Item number" />
      <input type="text" ng-model="newItemName" placeholder="Item name" />
      <button ng-click="addToList();">Add</button>
      <br />
      Search Name: <input type="text" ng-model="search" />
      <ul>
        <li ng-repeat="item in list1 | filter: search">
          {{ item }}
        </li>
      </ul>

      <ul>
        <li ng-repeat="item in list2">
          Index: {{$index}}
          {{item.number}} is {{item.name}}
        </li>
      </ul>
      <br />
      Your name:
      {{name | replace : "T": "F"}} <br />
      <input type="text" ng-model="name"
      ng-blur="upper();"/>
      <br />
      Cost: {{cost | currency}}
      <br />
      <button ng-click="checkClick();">Log # of Watchers</button><br />
      Watchers: {{$$watchersCount}}<br />
      Counter: {{counter}}<br />
      One Time: {{::oneTime}}<br />
      Two Time: {{oneTime}}<br />

      <button ng-click="upCounter();">Up Counter</button>
<br />
      <input type="text" ng-model="list2[0].number" />
      <br />


    </div>
  </div>
</body>
